/*====================================================
======================================================
Global imports
======================================================
=====================================================*/

@import 'nib'


/*====================================================
======================================================
variables
======================================================
=====================================================*/

font = "Roboto", sans-serif

color1 = #00c853


/*====================================================
======================================================
Resets
======================================================
=====================================================*/

html, html *
  font-family font
  margin 0
  padding 0

h1
  font-size 36px
h2
  font-size 28px
h3
  font-size 24px
h4
  font-size 20px
h5
  font-size 16px
p
  font-size 14px
