.dogs-list
  width 63vw
  padding xx
  margin-bottom xx
  background-color white
  box-shadow 0 3px 4px rgba(0,0,0,0.25);

  h2
    margin x 0

  ul
    list-style none
    display flex
    margin-left -5px
    li
      display inline-flex
      flex-direction column
      justify-content center
      text-align center
      padding xx
      width 100px
      height 100px
      margin 0
      margin-right x
      background-color light-grey
      box-shadow 0 1px 2px rgba(0,0,0,0.25);

    .add-dog-list-item
      background-color: transparent;
      border 3px dotted grey
      box-shadow none
      height 96px

      &:hover
        border 3px dotted dark-grey

      &:hover p
        color dark-grey

      p
        color grey
        font-weight 900
