@import 'nib'

font = "Roboto", sans-serif
blue = #25c9f7
light-grey = #f7f7f7
grey = #ddd
dark-grey = #555

x = 1vw
xx = 2vw
xxx = 3vw
xxxx = 4vw


html, html *
  font-family font
  margin 0
  padding 0

@import 'body.styl'
@import 'nav.styl'
@import 'dogs-list.styl'
@import 'add-dog.styl'
