<template name="join">

  <div class="join-wrapper">
    <div class="join-steps">
      <ul>
        <li class="{{#if stepOne}}active{{/if}}">1. Create Your Account</li>
        <li class="{{#if stepTwo}}active{{/if}}">2. Choose Box Type</li>
        <li class="{{#if stepThree}}active{{/if}}">3. Review &amp; Checkout</li>
      </ul>
    </div>

    {{#if stepOne}}

    <h2>Welcome to <span>KnineClub</span></h2>
    <p>
      Let's set up your account. Fill out the form below and hit next when you're ready.
    </p>

    <form class="add-member-form">
      <input class="name-input" type="text" name="name" placeholder="your name">
      <input class="email-input" type="text" name="email" placeholder="your email">
      <input class="password-input" type="password" name="password" placeholder="a password">
      <input class="repeat-password-input" type="password" name="repeat_password" placeholder="password again">
    </form>

    <span class="next-button next-1">Next: <span>Choose Box Type</span> <i class="ion-ios-arrow-right"></i></span>

    {{/if}}

    {{#if stepTwo}}

    <h2>Choose Your Box Type</h2>
    <p>
      How active is your dog?
    </p>

    <span class="next-button next-2">Review &amp; Checkout <i class="ion-ios-arrow-right"></i></span>

    {{/if}}

  </div>

</template>
